@model IEnumerable<MIs4200_Clay_Shannon_Spring_SD1.Models.Trainer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainerSince)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerSince)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrainerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrainerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrainerID })
        </td>
    </tr>
}

</table>
