@model MIs4200_Clay_Shannon_Spring_SD1.Models.TrainingDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrainingDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trainer.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingSessions.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingSessions.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkoutType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkoutType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
